@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  background-color: white;
  font-family: 'Proxima Nova', 'San Francisco', arial, sans-serif;
  color: #1d1d1d;
  height: 100%;
  margin: 0;
}

.article-card-container {
  margin-bottom: 20px;
  display: flex;
  background-color: #e6f2f7;
  width: 95%;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  align-items: flex-start;
}

.article-card {
  background-color: #e0e0e0;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px;
}

.article-image {
  object-fit: cover;
  width: 100%;
  max-height: 100px;
  min-width: 170px;
  max-width: 170px;
  padding: 5px;
  border-radius: 10px;
  vertical-align: top;
}

.favorite-icon {
  align-self: flex-end;
  cursor: pointer;
}

.link {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.clicked {
  color: #7f7f7f;
  /* color: darkgray; */
}

.contributor {
  font-size: 1.1rem;
}