@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  background-color: white;
  font-family: "Proxima Nova", "San Francisco", arial, sans-serif;
  color: #1d1d1d;
  height: 100%;
  margin: 0;
}
